name: Deploy Backend to Server

# Triggers the workflow on push to the main branch
on:
  push:
    branches:
      - kafka

jobs:
  build: # Name of the job
    runs-on: [self-hosted, Linux, X64] # Operating system to run the job on

    steps: # Steps to run in the job
      - name: Checkout repository # Name of the step
        uses: actions/checkout@v2 # Use the checkout action
        with:
          fetch-depth: 0

      - name: Run docker
        run: |
          echo "Pulled latest changes from the kafka branch" && \
          sudo docker-compose up --build -d 
        # run: |
        #   echo "Pulled latest changes from the kafka branch"
  
