name: Deploy Backend to Server

# Triggers the workflow on push to the main branch
on:
  push:
    branches:
      - kafka

jobs:
  build: # Name of the job
    runs-on: [self-hosted, linux, x64] # Operating system to run the job on

    steps: # Steps to run in the job
      - name: Checkout repository # Name of the step
        uses: actions/checkout@v2 # Use the checkout action

      - name: Run docker
        run: |
          ls -l &&\
          pwd && \
          echo "Pulled latest changes from the kafka branch" && \
          sudo docker-compose -f broker/docker-compose.yml up --build -d && \
          sudo docker-compose -f db/docker-compose.yml up --build -d
  
