name: Deploy Backend to Server

# Triggers the workflow on push to the main branch
on:
  push:
    branches:
      - kafka

jobs:
  build: # Name of the job
    runs-on: ubuntu-latest # Operating system to run the job on

    steps: # Steps to run in the job
      - name: Checkout repository # Name of the step
        uses: actions/checkout@v2 # Use the checkout action

      - name: Set up SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: SSH into server and deploy
        run: |
          ssh -o StrictHostKeyChecking=no -T nghiemxuan@${{ secrets.SERVER_HOST }} << 'EOF'
            cd KAFKA_ELASTIC_SEARCH_MS << 'EOF'
            git pull origin kafka << 'EOF'
            docker-compose -f broker/docker-compose.yml up --build -d << 'EOF'
            docker-compose -f db/docker-compose.yml up --build -d << 'EOF'
